{{ ansible_managed|comment }}

################################## NETWORK #####################################

bind {{ redis_bind_addresses|join (' ') }}
{% if ansible_os_family == "RedHat" %}
protected-mode yes
{% elif ansible_distribution == "Ubuntu" and ansible_distribution_version is version('18.04','>=') %}
protected-mode yes
{% elif ansible_distribution == "Debian" and ansible_distribution_version is version('9','>=') %}
protected-mode yes
{% endif %}
port {{ redis_port }}
tcp-backlog {{ redis_tcp_backlog }}
timeout 0
tcp-keepalive 300

################################# GENERAL #####################################

daemonize yes
{% if ansible_os_family == "RedHat" %}
supervised auto
{% elif ansible_distribution == "Ubuntu" and ansible_distribution_version is version('18.04','>=') %}
supervised auto
{% elif ansible_distribution == "Debian" and ansible_distribution_version is version('9','>=') %}
supervised auto
{% endif %}
pidfile {{ redis_pid_file }}
loglevel notice
logfile {{ redis_log_file }}
databases {{ redis_databases }}

################################ SNAPSHOTTING  ################################

{% for item in redis_save_to_disk %}
save {{ item.seconds }} {{ item.changes }}
{% endfor %}
stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes
dbfilename dump.rdb
dir {{ redis_working_directory }}

################################# REPLICATION #################################

{% if redis_replication|bool %}
{%   if redis_replication_master_address is defined and inventory_hostname != redis_replication_master %}
slaveof {{ redis_replication_master_address }} {{ redis_port }}
{%   endif %}
{% endif %}
slave-serve-stale-data yes
slave-read-only yes
{% if ansible_os_family == "RedHat" %}
repl-diskless-sync no
repl-diskless-sync-delay 5
{% elif ansible_distribution == "Ubuntu" and ansible_distribution_version is version('16.04','>=') %}
repl-diskless-sync no
repl-diskless-sync-delay 5
{% elif ansible_distribution == "Debian" and ansible_distribution_version is version('9','>=') %}
repl-diskless-sync no
repl-diskless-sync-delay 5
{% endif %}
repl-disable-tcp-nodelay no
slave-priority 100

################################## SECURITY ###################################

################################### CLIENTS ####################################

maxclients {{ redis_max_clients }}

############################## MEMORY MANAGEMENT ################################

{% if redis_maxmemory_config|bool %}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}
{% endif %}

############################## APPEND ONLY MODE ###############################

appendonly no
appendfilename "appendonly.aof"
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-load-truncated yes

################################ LUA SCRIPTING  ###############################

lua-time-limit 5000

################################ REDIS CLUSTER  ###############################

{% if ansible_os_family == "RedHat" %}
cluster-enabled no
{% elif ansible_distribution == "Ubuntu" and ansible_distribution_version is version('16.04','>=') %}
cluster-enabled no
{% elif ansible_distribution == "Debian" and ansible_distribution_version is version('9','>=') %}
cluster-enabled no
{% endif %}

################################## SLOW LOG ###################################

slowlog-log-slower-than 10000
slowlog-max-len 128

################################ LATENCY MONITOR ##############################

latency-monitor-threshold 0

############################# EVENT NOTIFICATION ##############################

notify-keyspace-events ""

############################### ADVANCED CONFIG ###############################

list-max-ziplist-entries 512
list-max-ziplist-value 64
{% if ansible_os_family == "RedHat" %}
list-max-ziplist-size -2
list-compress-depth 0
{% elif ansible_distribution == "Ubuntu" and ansible_distribution_version is version('18.04','>=') %}
list-max-ziplist-size -2
list-compress-depth 0
{% elif ansible_distribution == "Debian" and ansible_distribution_version is version('9','>=') %}
list-max-ziplist-size -2
list-compress-depth 0
{% endif %}
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
hll-sparse-max-bytes 3000
activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
aof-rewrite-incremental-fsync yes
